<%- layout("layouts/boilerplate")%>

    <% if (!currentUser) { %>
        <h3 class="text-light" style="text-align: center;">You must be logged in to view stats</h3>
        <% } %>

            <% if (currentUser) { %>
                <h1 class="text-light" style="font-size: 5em;">Hello, <%= currentUser.username %>
                </h1>

                <div class="row mt-4 text-light">
                    <h4>
                        Movies Watched: <%= currentUser.watched.length%>
                    </h4>
                    <div class="container mt-4">
                        <div class="d-flex flex-row scroll-row overflow-auto gap-3">
                            <% for( const movie of currentUser.watched) { %>
                                <div class="card text-light rounded-4" style="min-width: 18rem;">
                                    <img src="https://image.tmdb.org/t/p/w500<%=movie.imageUrl %>"
                                        class="card-img rounded-top-4" alt="haha">
                                    <div class="card-body">
                                        <div class="row">
                                        </div>
                                        <a class="movie-link" href="/show/<%= movie.id%>">
                                            <%= movie.title%>
                                        </a> (<%= movie.year %>)
                                    </div>
                                </div>
                                <% } %>

                        </div>
                    </div>
                </div>

                <div class="row mt-4 text-light">
                    <h4>
                        Watchlist : <%= currentUser.watchlist.length%>
                    </h4>
                    <div class="container mt-4 mb-3">
                        <div class="d-flex flex-row scroll-row overflow-auto gap-3">
                            <% for( const movie of currentUser.watchlist) { %>
                                <div class="card text-light rounded-4" style="width: 18rem;">
                                    <img src="https://image.tmdb.org/t/p/w500<%=movie.imageUrl %>"
                                        class="card-img rounded-top-4" alt="haha">
                                    <div class="card-body">
                                        <div class="row">
                                        </div>
                                        <%= movie.title%> (<%= movie.year %>)
                                    </div>
                                </div>
                                <% } %>

                        </div>
                    </div>
                </div>
                <% } %>