<%- layout("layouts/boilerplate") %>

    <div class="container text-light">

        <% for (const movie of result) {%>
            <div class="card movie-search text-light rounded-4 mb-3"
                data-movie="<%= encodeURIComponent(JSON.stringify(movie)) %>">
                <div class="row">
                    <div class="col-2">
                        <img src="https://image.tmdb.org/t/p/w154<%=movie.poster_path %>"
                            style="border-radius: 12px; margin: 2%;" alt="">
                    </div>
                    <div class=" card-body col-10">
                        <h5 class="card-title">
                            <a class="movie-link" href="/show/<%= movie.id%>">
                                <%= movie.original_title %>
                            </a>
                        </h5>

                        <p>
                            <%= movie.overview%>
                        </p>
                        <% if (currentUser) {%>
                            <button class="btn btn-success watched">Watched</button>
                            <button class="btn btn-primary watchlist">Add to Watchlist</button>
                            <% } %>
                    </div>
                </div>
            </div>
            <% } %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="scripts/search.js"></script>